@model GraciousGrocery.Models.AddToCategoryModel
@{
    ViewBag.Title = "AddToCategory";
}
<body style="background-color: lightgoldenrodyellow!important">
    <h2 style="margin-top: 120px !important;color: #c72c48 !important">Add product to @ViewBag.CategoryName</h2>

    @using (Html.BeginForm("AddToCategory", "Categories"))
    {
        <div class="form-group">
            @Html.DropDownListFor(m => m.productId, new SelectList(Model.products, "ProductId", "ProductName"), new { @class = "form-control" })
        </div>

        @Html.HiddenFor(m => m.categoryId)
        <button type="submit" class="btn btn-danger">Add</button>

    }
    <br /><br />
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
