.navbar {
    height: 50px;
    background-image: url("/Content/Images/back11.jpg");
    background-repeat: repeat;
    background-size: contain;
}

.container {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar-header {
    padding-left: 87px;
    background: #ffcccc;
    padding-top: 37px;
}

.navbar-brand {
    font-size: 26px;
    padding-right: 46px;
}

a {
    margin-top: 10px;
}

.nav > li > a {
    font-weight: bold;
    font-size: 17px !important;
    padding-left: 25px !important;
    color: #ff80aa !important;
    margin-top: -1px !important;
    background: white !important;
}
